.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preloader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    z-index: 10000;
}

.preloader-logo {
    width: 180px;
    height: auto;
    object-fit: contain;
}

.preloader-progress-bar {
    width: 240px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.preloader-progress {
    width: 100%;
    height: 100%;
    background-color: #000000;
    transform-origin: left;
    transform: scaleX(0);
}